/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.pt-24{padding-top:24px;}

.pt-40{padding-top:40px;}

.pl-24{padding-left:24px;}

.pb-8{padding-bottom:8px;}

.pb-24{padding-bottom: 24px;}

.pb-40{padding-bottom:40px;}

.pb-48{padding-bottom:48px;}


.ml-16{margin-left:16px;}

.ml-24{margin-left:24px;}

.mt-16{margin-top:16px;}

.mt-24{margin-top:24px;}

.mt-48{margin-top:48px;}

.mt-64{margin-top:64px;}

.mb-8{margin-bottom:8px;}

.mb-24{margin-bottom: 24px;}

.mb-64{margin-bottom:64px;}

.mb-80{margin-bottom: 80px;}

*,*::before,*::after{box-sizing: border-box;}


body{
	font-size: 24px;
	line-height: 1.5;
	font-family: "sans-serif";
}

img{
	display: block;
}

.font-weight-light{
	font-weight: 300;
}

.font-weight-medium{
	font-weight: 500;
}

.font-weight-Semibold{
	font-weight: 600;
}

.container{
	width:1200px;
	margin:0 auto;
}

h1{
	font-size: 80px;
	line-height: 95px;
	border-bottom:2px solid black;
}

h2{
	font-size: 32px;
	line-height: 48px;
	font-weight: 500;
}

h3{
	font-weight: bold;
}

.sf-pro{
	font-family: "SF Pro Text";
}

.border{
	border-bottom:1px solid black;
}

span{
	color:#A00404;
	font-weight: 500;
}

.bg-blue{
	background-color: #415165;
}

.sub-color{
	color:white;
}

.sub-title{
	text-align: center;	
}

.sub-content{
	width:996px;
	margin:0 auto;
	border-top:1px solid white;
}


.skill-description{
	width:224px;
	margin:0 auto;
	border-left:1px solid #96A9C4;
	text-align: left;
	color:white;	
}



.work-width{
	width:642px;
}

.work p{
	font-size: 20px;
	line-height: 30px;
}

.work-content{
	margin-left: 24px;
}

.work-description{
	border-left:1px solid #96A9C4;
}


.sub-context{
	width:1200px;
	margin:0 auto;
	border-top:1px solid white;
	text-align: center;

}

.footer-description{
	color:white;
	font-weight: 300;
}


.footer-description a{
	text-decoration:none;
	color: white;
}


footer .flex-icon{
	display:flex;
	justify-content: center;
}

footer a:hover{
	color: blue;
}

